In [ ]:
import numpy as np
import pandas as pd

# 1. 
주어진 리스트를 newspaper 라는 변수명의 Series 객체로 만들기

In [ ]:
s =['경향신문신문', '국민일보신문', '동아일보신문', '문화일보신문', '서울신문신문', 
    '세계일보신문', '조선일보신문', '중앙일보신문', '한겨레신문', '한국일보신문']

In [ ]:
'''
output:
0    경향신문신문
1    국민일보신문
2    동아일보신문
3    문화일보신문
4    서울신문신문
5    세계일보신문
6    조선일보신문
7    중앙일보신문
8     한겨레신문
9    한국일보신문
dtype: object
'''

# 2.
주어진 리스트를 기반으로 sales라는 변수명의 Series 객체를 만들어 볼 것.  
index를 위에서 정의한 newspaper로 한다.

In [ ]:
np.random.seed(1004)
n = np.random.randint(100, 999, 10)*100
n

In [ ]:
'''
output:
경향신문신문    10200
국민일보신문    62300
동아일보신문    13100
문화일보신문    42500
서울신문신문    33900
세계일보신문    29900
조선일보신문    11400
중앙일보신문    96300
한겨레신문     79200
한국일보신문    59700
dtype: int64
'''

# 3.
Series 데이터인 sales를 통해 '한겨레신문', '조선일보신문'의 판매량을 함께 반환할 것.

In [ ]:
'''
output:
한겨레신문     79200
조선일보신문    11400
dtype: int64
'''

# 4. 
변수 sales를 통해 값이 50000 이상인 신문사만 추출하기

In [ ]:
'''
국민일보신문    62300
중앙일보신문    96300
한겨레신문     79200
한국일보신문    59700
dtype: int64
'''

값이 20000 이하인 신문사에 10000 만큼 더해주기

In [ ]:

'''
변경전:
경향신문신문    10200
국민일보신문    62300
동아일보신문    13100
문화일보신문    42500
서울신문신문    33900
세계일보신문    29900
조선일보신문    11400
중앙일보신문    96300
한겨레신문     79200
한국일보신문    59700
dtype: int64
----------------------
변경후:
경향신문신문    20200
국민일보신문    62300
동아일보신문    23100
문화일보신문    42500
서울신문신문    33900
세계일보신문    29900
조선일보신문    21400
중앙일보신문    96300
한겨레신문     79200
한국일보신문    59700
dtype: int64
'''

# 5.
파일명이 quiz_1_stock.csv인 데이터를 읽어와 stock 이라는 변수명으로 저장하기

In [ ]:
'''
output:
 	날짜 	체결가 	전일비 	등락률 	거래량(천주) 	거래대금(백만)
0 	2020.02.07 	2211.95 	하락 15.99 	-1% 	800342 	8813174
1 	2020.02.06 	2227.94 	상승 62.31 	3% 	695216 	8334737
2 	2020.02.05 	2165.63 	상승 7.73 	0% 	574395 	7736275
3 	2020.02.04 	2157.90 	상승 39.02 	2% 	624641 	7791178
...
과 같은 데이터 프레임
'''

# 6.
stock의 '날짜', '등락률' 두 컬럼만 갖는 데이터 프레임을 추출하기

In [ ]:
'''
output:
 	날짜 	등락률
0 	2020.02.07 	-1%
1 	2020.02.06 	3%
2 	2020.02.05 	0%
3 	2020.02.04 	2%
4 	2020.02.03 	0%
...
과 같은 데이터 프레임

'''

# 7.
stock 데이터를 통해 row index가 0부터 5까지이고, column명이 '날짜', '거래량(천주)', '체결가' 인 데이터를 추출해보자  
2가지 방법으로 해보기  
* iloc
* loc

In [ ]:
'''
output:
 	날짜 	거래량(천주) 	체결가
0 	2020.02.07 	800342 	2211.95
1 	2020.02.06 	695216 	2227.94
2 	2020.02.05 	574395 	2165.63
3 	2020.02.04 	624641 	2157.90
4 	2020.02.03 	836699 	2118.88
'''
# iloc 사용 - tip: 날짜, 거래량(천주), 체결가의 integer index를 먼저 확인해보자

In [ ]:
# loc 사용

# 8.
stock 데이터를 통해 거래대금(백만)이 8000000이 넘는 row만 추출해보기

In [ ]:
'''
output:
 	날짜 	체결가 	전일비 	등락률 	거래량(천주) 	거래대금(백만)
0 	2020.02.07 	2211.95 	하락 15.99 	-1% 	800342 	8813174
1 	2020.02.06 	2227.94 	상승 62.31 	3% 	695216 	8334737
4 	2020.02.03 	2118.88 	하락 0.13 	0% 	836699 	8068704
8 	2020.01.28 	2176.72 	하락 69.41 	-3% 	808878 	8818232
'''

# 9.
체결가가 2210 이하이고, 거래량(천주)도 700000 이하인 날짜만 추출

In [ ]:
'''
2    2020.02.05 
3    2020.02.04 
6    2020.01.30 
7    2020.01.29 
Name: 날짜, dtype: object
'''